@charset "UTF-8";

*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DE8E49;
}
body{
    margin: 0px;
}
h1{
    background-color:#DE6349 ;
    color:#F48C5D;
    text-shadow: 2px 2px 2px black;
    height: 30px;
    margin: 0px ;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px black;

}
#quemsou{
    text-align: center;
    margin: 10px 10px 20px 10px;
}
img#perfil{
    border-radius: 90px;
    box-shadow: 4px 5px 15px 1px black; 
    margin: 40px 10px;
    padding: 10px;
}
h2{
    color: #DE6349;
    text-shadow: 2px 1px 1px black;
    text-align: left;
    margin: 0px 40px;
}
li{
    text-align: left;
}
a{
    color: #a3280f;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: darkred;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    border: 1px solid black;
    box-shadow: 2px 1px 2px 1px black;
    margin: 10px;
    padding: 10px 10px;
}

