@charset "UTF-8";

body{
    background-color: cornflowerblue;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 h2{ 
    text-align: center;
    text-decoration: underline;
 }
img{
    background-color:aliceblue;
    border-radius: 100%;
    overflow: hidden;
}