@charset "UTF-8";

@font-face{
    font-family: "idroid";
    src: url("fonts/idroid.otf") format('opentype');
    font-weight: normal;
}


*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #436120;
    --cor1: #7BE007;
    --cor2: #5e9e14;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor1);
}
a.extreno::after{
    content: '\1f517';
}

header{
    background-image:linear-gradient(to bottom,  var(--cor1),var(--cor0));
    color: white;
    font-family: 'idroid.otf', sans-serif;
    min-height: 150px;
    padding-top: 40px;
}

#titulo{
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}

#subtitu{
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 500px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

nav{
    background-color: var(--cor0);
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

nav > button{
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 140px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 1px 1px 10px 1px;
    background-color: var(--cor0);
    color: white;
    font-weight: bold;
    border: 1px solid var(--cor0);
    transition-duration: .5s;
}

nav > button:hover{
    background-color: grey;
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px 2px;
}

 main#fundobranco{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom:  30px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;

 }

 article > h1{
    font-style: italic;
    margin: 0px;
    padding: 20px 10px 1px 1px;
    color: #5e9e14;
    text-indent: 3em;
    font-family: 'idroid';
    line-height: 2em;
 }
 
 article > h2{
    background-image: linear-gradient(to right,#254601e5 10%,white 100%);
    text-align: justify;
    padding: 1px 20px 1px 10px;
    color: var(--cor1);
    text-indent: 2.5em;
    font-family:'idroid';
    line-height: 2em;
 }

 main strong{
    color: var(--cor1);
    font-weight: bold;
    padding: 0px 2px;
 }
 main a{
    color: var(--cor0);
    background-color: var(--cor1);
    padding: 2px;
 }
 
 main a:hover{
    text-decoration: underline;
    color:var(--cor1);
    background-color: var(--cor2);
 }
 article > p{
    text-align: justify;
    text-indent: 2em;
    padding: 10px 20px 10px 20px;
 }

 article > img{
    margin: 1px 100px 1px 100px ;
 }

 .image{
    display: flex;
    justify-content: center;
 }

 main > p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
 }

 #video{
    background-color:var(--cor0);
    padding: 20px 20px;
    margin: 0px 0px 0px 0px;
    display: flex;
    min-width: 300px;
    justify-content: center;  
 }

aside{
   padding:10px;
   margin: 20px 20px 20px 20px;
   border: 1px solid var(--cor0);
   border-radius: 20px 20px;
   background-color: var(--cor2);
   
}
aside > ul{
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
    line-height: 2em;
}
aside > h3{
    text-align: center;
    padding: 10px 10px;
}

aside > P{
    text-indent: 2em;
    padding: 10px 10px;
}

#quermais{
    border: 1px solid var(--cor0);
    border-radius: 20px 20px;
    color: white;
    background-color: var(--cor0);
}

#Paragrafofinal{
    padding: 10px 10px 20px 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    background-color: var(--cor0);
    margin: 0px;
    padding: 5px 1px;
}
footer > a{
    padding: 0px 0px 0px 5px;
    text-decoration: none;
}

footer> a:hover{
    display: block;
    color: purple;
    text-decoration: underline;
}